*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#0b1120;
    color:white;
}


/* Navbar */

header{
    position:fixed;
    width:100%;
    top:0;
    z-index:1000;
    background:rgba(11,17,32,0.8);
    backdrop-filter:blur(10px);
}


nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
}


.logo{
    font-size:28px;
    color:#38bdf8;
}


nav ul{
    display:flex;
    gap:30px;
    list-style:none;
}


nav ul li a{
    color:white;
    text-decoration:none;
    transition:.3s;
}


nav ul li a:hover{
    color:#38bdf8;
}


/* Hero */


.hero{
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:120px 8%;
}


.hero-text{
    max-width:600px;
}


.hero h1{
    font-size:55px;
}


.hero h1 span{
    color:#38bdf8;
}


.hero h2{
    margin:15px 0;
    color:#94a3b8;
}


.hero p{
    line-height:1.8;
    color:#cbd5e1;
}


.buttons{
    margin-top:30px;
}


.btn{
    display:inline-block;
    padding:12px 30px;
    margin-right:15px;
    border-radius:30px;
    background:#38bdf8;
    color:#00111f;
    text-decoration:none;
    font-weight:bold;
}


.outline{
    background:transparent;
    border:2px solid #38bdf8;
    color:white;
}


/* Profile */


.profile-card{
    width:300px;
    height:300px;
    border-radius:50%;
    background:linear-gradient(135deg,#38bdf8,#6366f1);
    display:flex;
    align-items:center;
    justify-content:center;
    animation:float 3s infinite;
}


.circle{
    width:260px;
    height:260px;
    border-radius:50%;
    background:#0b1120;
    display:flex;
    justify-content:center;
    align-items:center;
}


.circle h1{
    font-size:80px;
    color:#38bdf8;
}


@keyframes float{

50%{
transform:translateY(-20px);
}

}



/* Sections */


section{
    padding:80px 8%;
}


section h2{
    text-align:center;
    font-size:35px;
    margin-bottom:40px;
    color:#38bdf8;
}


/* Cards */


.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:25px;
}


.card{
    background:rgba(255,255,255,0.08);
    padding:30px;
    border-radius:20px;
    text-align:center;
    border:1px solid rgba(255,255,255,0.1);
    transition:.4s;
}


.card:hover{

transform:translateY(-10px);

box-shadow:0 10px 30px rgba(56,189,248,.3);

}


/* Contact */

#contact{
    text-align:center;
}


@media(max-width:800px){

.hero{
    flex-direction:column;
    text-align:center;
}


.profile-card{
    margin-top:50px;
}


nav ul{
    display:none;
}


.hero h1{
    font-size:40px;
}

}